@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --gray: #D9D9D9;
    --black: #000;
    --maincolor: #4461F2;
    --maincolorHover: #002aff;
    --mainBackgroundColor: #F8F8FF;
    --font: 'Dosis',
        sans-serif;
    --font-w: 800;
    --border: solid 2px #000;
}

.no-comment .white {
    color: var(--black);
}

.no-comment .black {
    color: #fff;
}

.comment-container-form {
    padding: 20px;
}

.comment-container {
    max-height: 80vh;
    padding: 20px;
    overflow-y: scroll;
    font-family: var(--font);
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.comment-container::-webkit-scrollbar {
    width: 8px;
}

.comment-container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.comment-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.comment-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

.comment-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    gap: 1rem;
}

.add-comment {
    display: flex;
    justify-content: center;
}

.comment-single-container {
    background-color: var(--mainBackgroundColor);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.comment {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name {
    font-weight: bold;
    color: var(--maincolor);
}

.comment-text {
    font-size: 0.9rem;
}

.comment-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.comment-input input {
    font-family: var(--font);
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px;
}

.comment-input .comment-send {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    width: 10%;
    height: 50px;
    color: var(--maincolor);
    background-color: #fff;
    transition: all 1s ease-in-out;
}

.comment-send-icon:hover {
    transform: scale(1.1);
    color: var(--maincolorHover);
}

.likes-container {
    display: flex;
    justify-content: end;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.likes-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}