@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --maincolor: #4461F2;
    --font: 'Dosis',
        sans-serif;
    --font-w: 800;
}

.video-title {
    display: flex;
    justify-content: center;
    font-family: var(--font);
    font-size: 15px;
    margin-top: 50px;
}

.video-title h1:after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    margin-bottom: 25px;
    background-color: var(--maincolor);
}

.video-title .white {
    color: var(--black);
}

.video-title .black {
    color: var(--white);
}

.video-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2px;
    /* border: 5px inset var(--maincolor); */
}

.main-video {
    width: 100%;
    height: auto;
}



.video-react .big-play-button {
    color: yellow !important;
    height: 60px !important;
    width: 60px !important;
    border-radius: 50% !important;
}

.video-react .big-play-button::before {
    margin-top: 10% !important;
}

/* VIDEO TITLE and DESCRIPTION */
.lesson-video-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.lesson-video-title {
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.lesson-video-title-text {
    padding-left: 10px;
}

.video-text {
    padding: 10px;
    font-weight: 800;
    color: var(--maincolor);
    font-size: 12px;
}

.video-text-desc {
    padding-left: 10px;
    font-weight: 600;
}


@media(max-width: 950px) {
    .video-title {
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .video-container {
        max-width: 95%;
    }

    .lesson-video-title {
        max-width: 95%;
    }
}