.admin-lesson {
    background-color: #161928;
    color: #fff;
    width: 100%;
    height: 100%;
}

.admin-lesson-card-back {
    position: fixed;
    left: 2%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.75);
}

.back-to-courses {
    font-size: 30px;
    margin-top: 8px;
    margin-left: 8px;
}

.admin-lesson-card-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.admin-lesson-card-container::-webkit-scrollbar {
    width: 8px;
}

.admin-lesson-card-container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.admin-lesson-card-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.admin-lesson-card-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}


.admin-lesson-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 3 columns */
    grid-gap: 20px;
    padding: 50px;
}

/* LESSON CARD */


.lesson-card-box-admin {
    display: flex;
    justify-content: center;
    position: relative;
}

.lesson-cardImg-box-admin {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.75);
    z-index: 9;
    transition: all 0.5s ease;
}


.lesson-cardImg-box-admin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.lesson-name-container-admin {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lesson-name-admin {
    color: var(--white);
    font-size: 13px;
}

.lesson-title-container-admin {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lesson-title-admin {
    color: var(--white);
    font-size: 15px;
}