@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --gray: #D9D9D9;
    --black: #000;
    --white: #fff;
    --maincolor: #4461F2;
    --maincolorHover: #002aff;
    --mainBackgroundColor: #F8F8FF;
    --font: 'Dosis', sans-serif;
    --font-w: 800;
    --border: solid 2px #000;
}

/*  BANNER */
.profile-banner {
    position: relative;
    height: 300px;
    width: 100%;
}

.profile-banner-image {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.profile-banner-cover {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.742);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.profile-banner-logo {
    height: 80px;
    margin-left: -50px;
}

.profile-banner-logout-button {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.profile-banner-logout-button {
    color: red;
}

.profile-banner-logout-button:hover {
    background-color: red;
    color: #000;
}

.profile-page-img {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    font-family: var(--font);
    font-size: 12px;
    margin-top: -50px;
}

.profile-page-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-page-image-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-page-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.userName {
    text-align: center;
}

/* END OF BANNER */


/* PICTURES */
.profile-pictures {
    font-family: var(--font);
    font-size: 14px;
    color: #696969;
    margin-left: 20px;
}

.choose-image-red {
    color: red;
}

.choose-image-green {
    color: #077202;
}

.profile-pictures-container {
    display: flex;
    justify-content: center;
}

.pr-img-con {
    display: inline-block;
    margin: 20px;
}

.pr-img-active {
    width: 60px;
    height: 60px;
    border: 3px solid #8bff85;
    border-radius: 50%;
    cursor: pointer;
}

.pr-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.pr-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.pr-img-active img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-save-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.profile-save-btn button {
    background-color: var(--maincolor);
    transition: all 0.5s ease;
    font-family: var(--font);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding-bottom: 5px;
    border: none;
    color: #fff;
    width: 80px;
    height: 40px;
}

.profile-save-btn button:hover {
    background-color: var(--maincolorHover);
    color: #fff;
}

/* NAME, EMAIL AND PASSWORD OF USER FOR EDITING IT */
/* STYLES */

.name-loading {
    display: flex;
}

.profile-name h1 {
    font-family: var(--font);
    font-size: 15px;
    color: var(--maincolor);
    margin-top: 10px;
    margin-left: 20px;
}

.profile-name h2 {
    font-family: var(--font);
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    margin-left: 20px;
}

.user-edit-name {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    padding: 5px;
    font-size: 20px;
    border: solid 1px black;
}

.save {
    border-radius: 5px;
}

.edit-name {
    margin-top: 10px;
    margin-left: 20px;
    color: #077202;
    font-weight: 600;
}

.edit-name-red {
    margin-top: 10px;
    margin-left: 20px;
    color: #ff0000;
    font-weight: 600;
}

.profile-name-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    align-items: center;
}

.profile-name-btn button {
    background-color: var(--maincolor);
    transition: all 0.5s ease;
    font-family: var(--font);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    border: none;
    color: #fff;
    width: 80px;
    height: 40px;
}

.profile-name-btn button:hover {
    background-color: var(--maincolorHover);
    color: #fff;
}

.edit-old-password {
    margin-top: 10px;
    margin-left: 20px;
    color: #077202;
    font-weight: 600;
}

.edit-old-password-red {
    margin-top: 10px;
    margin-left: 20px;
    color: #ff0101;
    font-weight: 600;
    font-size: 13px;
}

.edit-new-password {
    margin-top: 10px;
    margin-left: 20px;
    color: #077202;
    font-weight: 600;
}

.edit-new-password-red {
    margin-top: 10px;
    margin-left: 20px;
    color: #ff0000;
    font-weight: 600;
    font-size: 13px;
}

.go-home-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.go-home-profile button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--maincolor);
    font-family: var(--font);
    font-weight: 600;
    transition: all 0.5s ease;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
}

.go-home-profile button:hover {
    background-color: var(--maincolorHover);
}