@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --gray: #D9D9D9;
  --black: #000;
  --white: #fff;
  --maincolor: #4461F2;
  --maincolorHover: #002aff;
  --mainBackgroundColor: #F8F8FF;
  --poppins: 'Poppins',
    sans-serif;
  --font: 'Dosis',
    sans-serif;
  --font-w: 800;
  --border: solid 2px #000;
}

* {
  box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mainBackgroundColor);
  height: 100%;
  width: 100%;
}

/* REGISTER ==============================> */

.notification-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.notification {
  position: absolute;
  width: 30%;
  height: 10%;
  background-color: rgb(255, 206, 206);
  color: black;
  top: 2%;
  z-index: 100;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  transform: translateY(-120%);
}

.notification.show {
  transform: translateY(0%);
}


.notification-success-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.notification-success {
  position: absolute;
  width: 30%;
  height: 10%;
  background-color: rgb(206, 255, 212);
  color: black;
  top: 2%;
  z-index: 100;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  transform: translateY(-120%);
}

.notification-success.show-success {
  transform: translateY(0%);
}

.main-container {
  position: relative;
  z-index: 1;
  background-color: var(--mainBackgroundColor);
  font-family: var(--font);
  font-weight: 500;
  display: flex;
  width: 100%;
  height: 100vh;
}



/* PART - 1 PAGE-ONE  */

.part-one {
  width: 50%;
  height: 100%;
}

.register-nav {
  width: 100%;
  height: 100%;
  height: 20%;
  width: 100%;
  margin-top: -20px;
  font-size: large;
}

.register-nav .register-nav-container .nav-text {
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  position: relative;
}

.register-nav .register-nav-container .nav-text::before {
  content: "";
  background-color: var(--maincolor);
  transition: 0.4s ease-out;
  width: 0%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.register-nav .register-nav-container .nav-text:hover::before {
  width: 100%;
}

.register-nav .register-nav-container ul .nav-select {
  background-color: var(--mainBackgroundColor);
  cursor: pointer;
  border: none;
  outline: none;
}

/* ALL REGISTER INPUTS */

.container-inputs {
  display: flex;
  justify-content: center;
}

.register-inputs h1 {
  display: flex;
  justify-content: center;
  color: var(--maincolor);
}

.register-inputs {
  transition: all 2s ease;
}

/* ==================== */
.form {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--mainBackgroundColor);
  margin-top: 2vh;
  width: 40vh;
  height: 8vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.form-for-button {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--mainBackgroundColor);
  margin-top: 2vh;
  width: 40vh;
  height: 8vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
}

.form input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: var(--mainBackgroundColor);
  font-family: var(--font);
  padding-top: 11%;
  border: none;
  outline: 0;
  position: relative;
}

.red-password {
  width: 20%;
  height: 3px;
  background-color: red;
}

.yellow-password {
  width: 50%;
  height: 3px;
  background-color: rgb(255, 225, 0);
}

.green-password {
  width: 100%;
  height: 3px;
  background-color: rgb(102, 255, 0);
}

.form label {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--maincolor);
  bottom: -1px;
  left: 0px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all .3s ease;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: var(--maincolor);
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
  transform: translateX(0%);

}

/* =========================================================== */

.register-inputs div .eye {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 1%;
}

.register-inputs div select {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--mainBackgroundColor);
  font-size: 20px;
  font-family: var(--font);
  padding: 5px 10px;
  outline: 0;
  border: 2px solid #aaa;
}

.register-inputs div .test-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--maincolor);
  color: #fff;
  font-size: 20px;
  font-family: var(--font);
  font-weight: 600;
  padding: 5px 10px;
  outline: 0;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(135, 135, 135, 1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(135, 135, 135, 1);
  box-shadow: 5px 5px 5px 0px rgba(135, 135, 135, 1);
  transition: all 0.5s ease-in-out;
  border: none;
  border-radius: 10px;
}

.register-inputs div button:hover {
  background-color: var(--maincolorHover);
}

.register-nav .register-nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.register-nav .register-nav-container ul select {
  border: none;
  font-size: medium;
  font-family: var(--font);
  font-weight: var(--font-w);
}


/* END OF THE PART - 1 PAGE-ONE  */


/* PART - 2 PAGE-ONE */

.part-two {
  display: block;
  width: 50%;
  height: 100%;
}

.part-two .cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.part-two img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

/* END OF THE PART - 2 PAGE-ONE  */



/* LOGIN ==========================================> */
.container-inputs-login {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-inputs h1 {
  display: flex;
  justify-content: center;
  color: var(--maincolor);
}

.login-inputs div {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--gray);
  margin-top: 3vh;
  width: 40vh;
  height: 7vh;
  border-radius: 10px;
}

.login-inputs div input {
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  font-size: 20px;
  font-family: var(--font);
  padding: 5px 10px;
  border: none;
  outline: 0;
  border-radius: 10px;
  position: relative;
}

.login-inputs div .eye {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: var(--gray);
  border-radius: 10px;
  margin-right: 1%;
  margin-bottom: 15px;
}

.login-inputs h5 {
  margin-top: 10px;
  color: var(--maincolorHover);
  cursor: pointer;
}

.login-inputs div .login-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--maincolor);
  color: #fff;
  font-size: 20px;
  font-family: var(--font);
  font-weight: 600;
  padding: 5px 10px;
  outline: 0;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(135, 135, 135, 1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(135, 135, 135, 1);
  box-shadow: 5px 5px 5px 0px rgba(135, 135, 135, 1);
  transition: all 0.5s ease-in-out;
  border: none;
  border-radius: 10px;
}

.login-inputs div button:hover {
  background-color: var(--maincolorHover);
}

/* WARNING PAGE NAVBAR */
.warning-page {
  background-color: var(--mainBackgroundColor);
  font-family: var(--font);
  width: 100%;
  height: 100vh;
}

.start-navbar {
  font-family: var(--font);
  font-weight: var(--font-w);
}

.start-navbar .start-navbar-container {
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}

.start-navbar .start-navbar-container select {
  display: block;
  font-family: var(--font);
  font-weight: var(--font-w);
  font-size: large;
  background-color: var(--mainBackgroundColor);
  cursor: pointer;
  border: none;
  outline: none;
}

.select-hiden {
  visibility: hidden;
}

.start-navbar .start-navbar-container .nav-text {
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  position: relative;
}

.start-navbar .start-navbar-container .nav-text::before {
  content: "";
  background-color: var(--maincolor);
  transition: 0.4s ease-out;
  width: 0%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.start-navbar .start-navbar-container .nav-text:hover::before {
  width: 100%;
}

.text-level {
  color: var(--maincolor);
}

.warning-page-text {
  font-size: medium;
  font-weight: 600;
  padding: 10px;
}

.warning-page-text .red-text {
  color: red;
}

.warning-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  font-size: large;
  padding: 10px;
}

.warning-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-img .warning-img-container {
  width: 20%;
  height: 20%;
}

.warning-img .warning-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-button-container {
  margin-top: 3vh;
  width: 40vh;
  height: 7vh;
  border-radius: 10px;
}

.warning-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--maincolor);
  color: #fff;
  font-size: 20px;
  font-family: var(--font);
  font-weight: 600;
  padding: 5px 10px;
  outline: 0;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(135, 135, 135, 1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(135, 135, 135, 1);
  box-shadow: 5px 5px 5px 0px rgba(135, 135, 135, 1);
  transition: all 0.5s ease-in-out;
  border: none;
  border-radius: 10px;
}




/* TEST PAGE */
.test-page {
  background-color: var(--mainBackgroundColor);
  font-family: var(--font);
  width: 100%;
  height: 100%;
}



/* VERIFY EMAIL */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --gray: #D9D9D9;
  --black: #000;
  --maincolor: #4461F2;
  --maincolorHover: #002aff;
  --mainBackgroundColor: #F8F8FF;
  --font: 'Dosis',
    sans-serif;
  --font-w: 800;
  --border: solid 2px #000;
}

.page-verify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--mainBackgroundColor);
  font-family: var(--font);
}

.verify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.verify-heading {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--maincolor);
  margin-bottom: 2rem;
  text-align: center;
}

.verify-subheading {
  font-size: 2rem;
  font-weight: normal;
  color: #666;
  margin-bottom: 2rem;
  text-align: center;
}

.verify-button {
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: var(--maincolor);
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.verify-button:hover {
  background-color: var(--maincolorHover);
}



/* VERIFYING PAGE WITH LOADING */
.verifying-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.verifying-header {
  font-family: var(--font);
  font-weight: 600;
  color: #666;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.verifying-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.verifying-spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* WHOLE MEDIA */

/* MEDIA PART-1 AND MEADIA PART-2 */
@media (max-width: 2500px) {

  .register-nav,
  .register-nav .register-nav-container ul .nav-select {
    font-size: larger;
  }
}

@media (max-width: 950px) {

  .part-one {
    width: 100%;
  }

  .part-two {
    display: none;
  }

  .start-navbar .start-navbar-container {
    width: 100%;
  }

  .warning-text-center {
    font-size: small;
  }

  .warning-img .warning-img-container {
    width: 30%;
    height: 30%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }

  .verify-heading {
    font-size: 2rem;
  }

  .verify-subheading {
    font-size: 1rem;
  }

  .verify-button {
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
  }
}


@media (max-width: 400px) {

  .register-nav,
  .register-nav .register-nav-container ul .nav-select {
    font-size: small;
  }

  .notification {
    width: 40%;
    height: 10%;
    font-size: 12px;
  }
}

/* END OF MEDIA PART-1 AND MEADIA PART-2 */